##                                           Logistic Regression Model to Predict the Churn Value

### Importing the necessary libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

### Reading the Data to CSV file and assigning names to the header

In [2]:
data = pd.read_csv("telecom_churn_data.csv", header = None,names = ["State", "Account_Length", "Area_Code", "Phone","International_Plan","VMail_Plan", "VMail_Message","Day_Mins","Day_Calls","Day_Charge","Eve_Mins","Eve_Calls","Eve_Charge","Night_Mins","Night_Calls","Night_Charge","International_Mins","International_Calls","International_Charge","CustServ_calls","Churn"])
data.head()

,State,Account_Length,Area_Code,Phone,International_Plan,VMail_Plan,VMail_Message,Day_Mins,Day_Calls,Day_Charge,...,Eve_Calls,Eve_Charge,Night_Mins,Night_Calls,Night_Charge,International_Mins,International_Calls,International_Charge,CustServ_calls,Churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [3]:
data.tail()

,State,Account_Length,Area_Code,Phone,International_Plan,VMail_Plan,VMail_Message,Day_Mins,Day_Calls,Day_Charge,...,Eve_Calls,Eve_Charge,Night_Mins,Night_Calls,Night_Charge,International_Mins,International_Calls,International_Charge,CustServ_calls,Churn
4612,NY,57,510,345-7512,no,yes,25,144.0,81,24.48,...,112,15.91,158.6,122,7.14,8.5,6,2.30,3,False.
4613,NM,177,408,343-6820,no,yes,29,189.0,91,32.13,...,96,25.76,163.6,116,7.36,15.7,1,4.24,3,False.
4614,VT,67,408,338-4794,no,yes,33,127.5,126,21.68,...,129,25.17,200.9,91,9.04,13.0,3,3.51,1,False.
4615,MI,98,415,355-8388,no,yes,23,168.9,98,28.71,...,117,19.24,165.5,96,7.45,14.3,3,3.86,0,False.
4616,IN,140,415,409-6884,no,no,0,204.7,100,34.80,...,107,10.78,202.8,115,9.13,12.1,4,3.27,2,False.

### Changing the True or Yes Value to 1

In [4]:
data.Churn[data.Churn == ' True.'] = int(1)
data.International_Plan[data.International_Plan == ' yes'] = int(1)
data.VMail_Plan[data.VMail_Plan == ' yes'] = int(1)

C:\Users\PranaviPadegal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\PranaviPadegal\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\PranaviPadegal\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

### Changing the False or No values to 0

In [5]:
data.Churn[data.Churn == ' False.'] = int(0)
data.International_Plan[data.International_Plan == ' no'] = int(0)
data.VMail_Plan[data.VMail_Plan == ' no'] = int(0)

C:\Users\PranaviPadegal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\PranaviPadegal\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\PranaviPadegal\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

### Observing the Changes in the data after converting the values to 0 or 1

In [6]:
data.head()

,State,Account_Length,Area_Code,Phone,International_Plan,VMail_Plan,VMail_Message,Day_Mins,Day_Calls,Day_Charge,...,Eve_Calls,Eve_Charge,Night_Mins,Night_Calls,Night_Charge,International_Mins,International_Calls,International_Charge,CustServ_calls,Churn
0,KS,128,415,382-4657,0,1,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,0,1,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,0,0,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,1,0,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,1,0,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

### Observing the data types of the each Column of the data.

In [7]:
data.dtypes

State                    object
Account_Length            int64
Area_Code                 int64
Phone                    object
International_Plan       object
VMail_Plan               object
VMail_Message             int64
Day_Mins                float64
Day_Calls                 int64
Day_Charge              float64
Eve_Mins                float64
Eve_Calls                 int64
Eve_Charge              float64
Night_Mins              float64
Night_Calls               int64
Night_Charge            float64
International_Mins      float64
International_Calls       int64
International_Charge    float64
CustServ_calls            int64
Churn                    object
dtype: object

### Chaging the Object data type to integer for the required Columns

In [8]:
data.International_Plan = data.International_Plan.astype('int')
data.VMail_Plan = data.VMail_Plan.astype('int')
data.dtypes

State                    object
Account_Length            int64
Area_Code                 int64
Phone                    object
International_Plan        int32
VMail_Plan                int32
VMail_Message             int64
Day_Mins                float64
Day_Calls                 int64
Day_Charge              float64
Eve_Mins                float64
Eve_Calls                 int64
Eve_Charge              float64
Night_Mins              float64
Night_Calls               int64
Night_Charge            float64
International_Mins      float64
International_Calls       int64
International_Charge    float64
CustServ_calls            int64
Churn                    object
dtype: object

### Assigning the Predictors and Target variables to x and y variable
1. I vomited State because there can be strong correlation between State and Area Code and it will lead to the biased model.
2. I Vomited Phone Number as it does not make any sense for the prediction purpose.

In [9]:
y = data.Churn.astype('int')
x = data.loc[:,["Area_Code","International_Plan","VMail_Plan", "VMail_Message","Day_Mins","Day_Calls","Day_Charge","Eve_Mins","Eve_Calls","Eve_Charge","Night_Mins","Night_Calls","Night_Charge","International_Mins","International_Calls","International_Charge","CustServ_calls"]]

In [10]:
y.dtypes

dtype('int32')

In [11]:
type(x)

pandas.core.frame.DataFrame

### Calling LogisticRegression function and assigning to a variable

In [12]:
model_logr = LogisticRegression()

### Splitting the training and testing data

In [13]:
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 10)

In [14]:
x_train.shape

(3231, 17)

### Fitting the Model

In [15]:
model_logr.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

### Predicting the Target Variables.

In [16]:
y_predict = model_logr.predict(x_test)

In [17]:
y_predict

array([0, 0, 0, ..., 0, 0, 1])

In [18]:
y_test

4454    0
2118    1
42      0
3879    0
2727    0
3715    0
1668    0
410     0
331     1
1161    0
470     0
1356    0
1156    0
1707    1
1459    0
1586    0
344     0
3266    0
3082    0
761     0
737     1
2037    0
2184    0
330     0
4189    0
3072    1
85      0
621     0
1408    0
2587    0
       ..
1771    0
556     0
571     0
3842    0
1191    0
2964    1
90      0
2436    0
1722    0
375     0
690     0
181     1
382     0
4028    0
1679    1
3544    0
2072    0
2934    1
1824    0
2755    0
520     0
1215    0
12      0
3130    0
347     0
1853    0
3598    0
216     0
1235    0
1882    0
Name: Churn, Length: 1386, dtype: int32

### Classification Report
1. In classification report, we can see that there is a 0.83 f1 score.

In [19]:
print(classification_report(y_test,y_predict))

             precision    recall  f1-score   support

          0       0.88      0.97      0.92      1200
          1       0.44      0.15      0.22       186

avg / total       0.82      0.86      0.83      1386

In [20]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

### Confusion Matrix Report
1. Out of "1164+36" not Churn values, "1164" values are predicted as not Churn and "36" are redicted as Churn.
2. Out of "158+28" Churn values, "158" values are predicted as not Churn and only "28" values are predicted as Churn which is   not good.
3. But here type 2 error is more and shouldbe optimized.

In [21]:
confusion_matrix(y_test,y_predict)

array([[1164,   36],
       [ 158,   28]], dtype=int64)

### 86% Accuracy can be observed for this model.

In [22]:
print(accuracy_score(y_test,y_predict))

0.86002886002886